node_modules/
.parcel-cache/
dist/

// Namaste-Food 

# /* 
*-Header 
*   - Logo name - Namaste Food 
*  -list-[Home, About Us, Contact Us , Cart]

*-Body
*  -Search 
*  -Restruarent Section
*     -Restrurent Cards - 8 (each row-4)

* -Footer 
*   -Copyright 
*  -links etc:
# */